filetype==1.2.0
gradio==5.9.1
gradio-rangeslider==0.0.8
numpy==2.2.0
onnx==1.17.0
onnxruntime==1.20.1
opencv-python==4.10.0.84
psutil==6.1.1
tqdm==4.67.1
scipy==1.14.1
fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.20
requests==2.32.3
